<div class="user-list">
  <h2>User List</h2>
  <button (click)="createUser()">Add New User</button>
  <div class="filter">
    <label for="filterLastName">Filter by Last Name:</label>
    <input type="text" id="filterLastName" [(ngModel)]="filterLastName" (ngModelChange)="applyFilter()" />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name <button (click)="toggleSorting()">Toggle Sorting</button></th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="viewUserDetails(user.id)" class="btn btn-info">View</button>
          <button (click)="editUser(user.id)" class="btn btn-warning">Edit</button>
          <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
